.wan-menu-container {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0 0 17px;
	vertical-align: top;

	> li {
		display: inline-block;
		float: left;
		padding: 43.5px 43px 43.5px 43px;
	}
}